<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixDisplay</key>
				<false/>
				<key>FixHDA</key>
				<true/>
				<key>FixIntelGfx</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixSATA</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename PEG0 to GFX1</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					UEVHMA==
					</data>
					<key>Replace</key>
					<data>
					R0ZYMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to GFX2</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					R0ZYMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
			</array>
		</dict>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v -lilubetaall</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>1</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x67B01002</string>
			<key>IntelGFX</key>
			<string>0x59128086</string>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>random</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Custom</key>
			<data>
			AP///////wAGs7El+MsAABMbAQSlNh54Bu6Ro1RMmSYPUFQhCAAB
			AQEBAQEBAQEBAQEBAQEBAjqAGHE4LUBYLEUAIC8hAAAeAAAA/wAj
			QVNOZmdya05HeXpkAAAA/QAe8EP/OAEKICAgICAgAAAA/ABST0cg
			UEcyNThRCiAgAJ0=
			</data>
			<key>Inject</key>
			<true/>
			<key>ProductID</key>
			<string>0x9649</string>
			<key>VendorID</key>
			<string>0x1715</string>
		</dict>
		<key>FBName</key>
		<string>Lagotto</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<true/>
		</dict>
		<key>RadeonDeInit</key>
		<true/>
		<key>ig-platform-id</key>
		<string>0x59120000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>USB 10.13.4+ by PMHeart</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPD4MDBQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/sPkJCQkJCQ
				</data>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/19/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM151.88Z.0219.B00.1809190740</string>
		<key>Board-ID</key>
		<string>Mac-42FD25EABCABB274</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02542303GUG2Y7JC</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0D</string>
		<key>EfiVersion</key>
		<string>222.0.0.0.0</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xF80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x01</string>
		<key>ProductName</key>
		<string>iMac15,1</string>
		<key>SerialNumber</key>
		<string>C02QK0U9FY10</string>
		<key>SmUUID</key>
		<string>6E626DF4-B041-409B-A03E-CF634E3884CE</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>
